

.nav-link {
    color: white;
}

nav.navbar {
    text-align: center;
    padding: 0 30% 0 30%;
}

h1, h2, h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    margin: 0 15px 0 15px;
}

.display-3{
    padding-top: 5%;
}

.jumbtron{
    background-image: url(../img/MtHood.jpg);
    width: 100%;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 90px;
}

#bio, #family, #projects, #contact{
    padding: 5% 5% 5% 5%;
}

#family, #contact{
    background-color: #cddbe7;
}

#bio, #projects{
    background-color: #456f93;
}

#bio-content, #family-content {
    display: flex;
    justify-content: center;
    height: auto;
}

img {
    height: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
}

#finn{
    text-align: center;
}

figcaption {
    text-align: center;
    margin-top: 10px;
}

footer {
    font-size: 14px;
    text-align: center;
    background-color: #172531;
    color: white;
    padding: 10px 0 10px 0;
}

.card img{
    margin: 5px 5px 0px 5px
}

#portrait {
    border-radius: 50%;
    object-fit: cover;
    height: 250px;
}

#bio-copy p{
    padding-top: 10%;
}

#bio-content{
    margin: auto;
}

#submit, #reset, #email{
    position: absolute;
    bottom: 0px;
}

#copywrite{
    color: white;
}

#bio-text   {
    font-size: 22px;
    color: white;
}